<div class="wrapper">

	<div class="row">
		<div class="c6 breadcrumbs">
		<%# if @client.present? %>
				<p class="no-margin" style="display: none;"><%= link_to @client.title, client_path(@client) %> &nbsp;/&nbsp; <%= link_to "Advice & Information", client_guides_path %></p>
			<%# end %>
				<p class="no-margin"><%= link_to "Back to #{@client.title}", client_path(@client, anchor: "advice") %></p>
		</div>
		<div class="c6 share">
			<a class="twitter-share-button" href="https://twitter.com/share"
				  data-related="twitterdev"
				  data-size="large"
				  data-count="none">
				Tweet
				</a>
		</div>
	</div>
	
	<div class="row panel">
		<div class="c10 s1 push-top">
			<div id="helpsheet">
				<h1><%= @question.question %></h1>
				<p><%= @question.answer.html_safe %></p>
			</div>

			<div class="small-copy faded">
				<p>
					<%= mail_to "me@domain.com", "Email this to myself / to a friend", subject: "Marshall Havard - #{@question.question}", body: "#{strip_tags @question.answer}", class: "button" %>
					<input type="button" value="Print this help sheet" onclick="PrintElem('#helpsheet')" class="button" />
				</p>
				<p>Relevent to: 
					<% @question.clients.each do |client|%>
					    <%= link_to client.title, client %>
					<% end %>
				</p>
			</div>
		</div>
	</div>

	<div class="row">


		<div class="c12">

			<p class="no-margin">Feel free to get in touch at any point. Either on 01234 567 890, or via <a href="mailto:hello@marshallhavard.com">email</a>.</p>

		</div>
	</div>

	<div id="advice" class="row border-top padded">
		<div class="c6">
			<h3 class="faded">Help sheets</h2>
			<ul>
				<% @client.guides.each do |guide|%>
					<li>
						<%= link_to_active_class guide.title, "selected", client_guide_path(@client, guide) %><br />
						<em class="faded"><%= guide.summary %></em>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="c6">
			<h3 class="faded">Common questions</h2>				
			<ul>
				<% @client.questions.each do |question|%>
					<li><%= link_to_active_class question.question, "selected", client_question_path(@client, question) %></li>
				<% end %>
			</ul>
		</div>
	</div>



	<% if logged_in? %>
		<div class="row">
			<div class="c12 border-top">
			<p class="no-margin">Last updated: <%= time_ago_in_words @question.updated_at %> ago</p>
			<%= link_to "Edit", edit_question_path(@question), class: "button" %>
			<%= link_to "Delete", question_path(@question), method: :delete, class: "button danger" %>
		</div>
	<% end %>
</div>