<div class="wrapper">
	
	<div class="row push-top">
		<div class="c8">
			<h1><%= @question.question %></h1>
			<p><%= @question.answer.html_safe %></p>

			<h3>Relevant to:</h3>
			<ul>
				<li>
					<% @question.clients.each do |client|%>
					    <%= link_to client.title, client %>
					<% end %>
				</li>
			</ul>
		</div>
	</div>

	<% if logged_in? %>
		<div class="row">
			<div class="c12 border-top">
			<p class="no-margin">Last updated: <%= time_ago_in_words @question.updated_at %> ago</p>
			<%= link_to "Edit", edit_question_path(@question), class: "button" %>
			<%= link_to "Delete", question_path(@question), method: :delete, class: "button danger" %>
		</div>
	<% end %>
</div>