<div class="wrapper">

	<div class="row">
		<div class="c8 s2">
			<h1>Edit this service</h1>

			<%= simple_form_for(@service, :defaults => { :input_html => { :class => "tinymce" } }) do |f| %>
				<%= f.input :name %>
				<%= f.input :description %>
				<% Client.all.each do |client| %>
				  <%= check_box_tag "service[client_ids][]", client.id, @service.client_ids.include?(client.id), id: dom_id(client) %>
				  <%= label_tag dom_id(client), client.title %><br>
				<% end %>
				<%= f.submit %>
			<% end %>
		</div>
	</div>
</div>

<%= tinymce %>