<%= content_for :dark, 'alt' %>

<div class="wrapper">

	<div class="row push-top">
		<div class="c8">
			<h1>Edit <em><%= @service.name %></em></h1>

			<%= simple_form_for(@service) do |f| %>
				<%= f.input :name %>
				<%= f.input :description %>
		</div>
		<div class="c4 small">

				<h6 class="push-top-quart">Which client(s) is this service relevant to?</h6>
				<% Client.all.each do |client| %>
				  <%= check_box_tag "service[client_ids][]", client.id, @service.client_ids.include?(client.id), id: dom_id(client), class: "boolean" %>
				  <%= label_tag dom_id(client), client.title %><br>
				<% end %>
				<hr class="push-top-half"/>
				<h5 class="push-top-half">Which guide(s) is related to this service?</h5>
					<% Guide.all.each do |guide| %>
					<%= check_box_tag "service[guide_ids][]", guide.id, @service.guide_ids.include?(guide.id), id: dom_id(guide), class: "boolean" %>
					<%= label_tag dom_id(guide), guide.title %><br>
				<% end %>
				<hr class="push-top-half"/>
				<h5 class="push-top-half">Untick this to show on live site</h5>
				<%= f.input :draft, label: "Draft",  class: 'boolean'  %>
				<%= f.button :submit %>
			<% end %>
		</div>
	</div>
	<%= link_to "Delete", service_path(@service), method: :delete %>
</div>

<%= tinymce %>