
<div class="wrapper">

	<div class="row push-top">
		<div class="c8">
			<h1>Add a service</h1>

			<%= simple_form_for(@service) do |f| %>
				<%= f.input :name %>
				<%= f.input :description %>
				<% Client.all.each do |client| %>
				  <%= check_box_tag "service[client_ids][]", client.id, @service.client_ids.include?(client.id), id: dom_id(client), class: "boolean" %>
				  <%= label_tag dom_id(client), client.title %><br>
				<% end %>
				<%= f.button :submit %>
			<% end %>
		</div>
	</div>
</div>

<%= tinymce %>