<div class="wrapper">
	
	<div class="row push-top">
		<div id="service-content" class="c8 s2">
			<h1><%= @service.name %></h1>
			<p><%= @service.description.html_safe %></p>

			<h3>Related to</h3>
			<ul>
				<li>
					<% @service.clients.each do |client|%>
					    <%= link_to client.title, client %>
					<% end %>
				</li>
			</ul>

		</div>
	</div>

	<% if logged_in? %>
		<div class="row">
			<div class="c12 border-top">
				<p class="no-margin">Last updated: <%= time_ago_in_words @service.updated_at %> ago</p>
				<%= link_to "Edit", edit_service_path(@service), class: "button" %>
				<%= link_to "Delete", service_path(@service), method: :delete, class: "button danger" %>
			</div>
		</div>
	<% end %>
</div>