
<div class="wrapper">
	<div class="dark" style="padding-bottom: 20px;">

		<div id="actions" class="row">
			<div class="c6 breadcrumbs">
				<% if @client.present? %>
					<p><%= link_to "Back to all", services_path %></p>
				<% else %>
					<% @client = Client.find(params[:id]) %>
					<p><%= link_to "View more services", client_path(@client, anchor: "help") %></p>
				<% end %>
			</div>
			<div class="c6 share">
				<a class="twitter-share-button" href="https://twitter.com/share"
						  data-related="twitterdev"
						  data-size="large"
						  data-count="none">
					Tweet
					</a>
			</div>
		</div>

		<div class="row">
			
			<div class="panel">
				<div class="c1 nav-previous">
					<% unless  @service.id == Service.first.id   %>         
				  		<%= link_to 'Previous', Service.get_previous_service(@service)  %>
				 	<% end %>
				</div>

				<div class="c10 padded">
					<div id="helpsheet">
						<h5>Service</h5>
						<h1><%= @service.name %></h1>
						<p><%= @service.description.html_safe %></p>
					</div>

					<div class="more-help small-copy">
						<h4>Need more advice?</h4>
						<p class="no-margin">Feel free to get in touch at any point. Either on 01234 567 890, or via <a href="mailto:hello@marshallhavard.com">email</a>.</p>
					</div>


					<% if logged_in? %>
						<div class="admin-tools center small-copy push-top faded">
							<p class="no-margin">Last updated: <%= time_ago_in_words @service.updated_at %> ago 
							| <%= link_to "Edit", edit_service_path(@service) %> 
							| <%= link_to "Delete", service_path(@service), method: :delete %></p>
						</div>
					<% end %>
				</div>

				<div class="c1 nav-next">
					<% unless  @service.id == Service.last.id   %> 
						<%= link_to 'Next', Service.get_next_service(@service) %>
				    <% end %>
				</div>
			</div>
		</div>
	</div>
	


	

</div>




