

<%= content_for :dark, 'alt' %>

<div class="padded">
	<div class="wrapper push-top">
		<div class="row">
			<div class="c8">

						<h2><%= @service.name %></h2>
						<p><%= @service.description.html_safe %></p>
					</div>
				</div>
				<div class="row">

					<div class="more-help small-copy">
						<h4>Need more advice?</h4>
						<p class="no-margin">Feel free to get in touch at any point. Either on 01234 567 890, or via <a href="mailto:hello@marshallhavard.com">email</a>.</p>
					</div>


					<% if logged_in? %>
						<div class="admin-tools center small-copy push-top faded">
							<p class="no-margin">Last updated: <%= time_ago_in_words @service.updated_at %> ago 
							| <%= link_to "Edit", edit_service_path(@service) %> 
							| <%= link_to "Delete", service_path(@service), method: :delete %></p>
						</div>
					<% end %>
				</div>


			</div>

	




