<%= content_for :dark, 'alt' %>
<div class="wrapper">

	<div class="row push-top">

		
		<div class="c6">


				<h4>Add another user</h4>

				<%= simple_form_for @user do |f| %>

					<%= f.input :email %>
					<%= f.input :password %>
					<%= f.input :password_confirmation %>

					<%= f.button :submit, "Create user" %>

				<% end %>


		</div>

		<div class="c3 s3">
			<h4>Users</h4>
			<ul class="small">
			<% @users.each do |user| %>
				<li><%= user.email %></li>
			<% end %>
			</ul>
		</div>

	</div>
</div>