

<div id="hero" class="padded">
	<h1 class="narrow"><%= @client.headline %></h1>
	<p><%= @client.intro %></p>
</div>
<div id="sub-nav">
	<div class="wrapper">
		<nav>
			<ul>
				<li><a href="#help">Our services &amp; specialities</a></li>
				<li><a href="#advice">Helpsheets &amp; common questions</a></li>
				<li><a href="#why">Why we're right for you</a></li>
			</ul>
		</nav>
	</div>
</div>


<% if @client.services.present? %>
	<section id="help" class="padded">
		<div class="wrapper">
			<div class="row">
				<div class="c8 s2 center">
					<h2>How we can help</h2>
					<p><%= @client.help_intro %></p>
				</div>
			</div>
			<div class="row">
				<% @client.services.each do |service|%>
					<div class="c3 service-box">
						<%= link_to service.name, client_service_path(@client, service) %>
					</div>
				<% end %>
			</div>
		</div>
	</section>
<% end %>

<% if @client.guides.present? or @client.questions.present? %>
	<section id="advice" class="dark padded">
		<div class="wrapper">
			<div class="row">
				<div class="c8 s2 center">
					<h2>Expert advice &amp; information</h2>
					<p><%= @client.advice_intro %></p>
				</div>
			</div>
			<div class="row">
				<ul id="sheets">
					<% @client.guides.each do |guide|%>
						<li class="c3">
							<div class="panel">
								<h5>Help Sheet</h5>
								<h3><%= guide.title %></h3>
								<p class="faded small-copy"><%= guide.summary %></p>
								<%= link_to "Read help sheet", client_guide_path(@client, guide), class: "small-copy" %>
								
							</div>
						</li>
					<% end %>

					<% @client.questions.each do |question|%>
						<li class="c3">
							<div class="panel">
								<h5>Common question</h5>
								<h3><%= question.question %></h3>
								<%= link_to "View the answer", client_question_path(@client, question), class: "small-copy" %>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</section>
<% end %>

<section id="why" class="padded">
	<div class="wrapper">
		<div class="row">
			<div class="c8 s2 center">
				<h2>Why Marshall Havard</h2>
				<p><%= @client.advice_intro %></p>
			</div>
		</div>
	</div>


	<% if logged_in? %>
		<div class="admin-tools center small-copy push-top faded">
			<p class="no-margin">Last updated: <%= time_ago_in_words @client.updated_at %> ago 
			| <%= link_to "Edit", edit_client_path(@client) %> 
			| <%= link_to "Delete", client_path(@client), method: :delete %></p>
		</div>
	<% end %>

	
</section>





<script type="text/javascript">
	$('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
        || location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
           if (target.length) {
             $('html,body').animate({
                 scrollTop: target.offset().top
            }, 1000);
            return false;
        }
    }
});
</script>

<script>
		$(function(){
			$("#sub-nav").sticky({topSpacing:0});
		});
</script>

<script>
	$(document).ready(function () {
		$(document).on("scroll", onScroll);
 
		$('a[href^="#"]').on('click', function (e) {
			e.preventDefault();
			$(document).off("scroll");
 
			$('a').each(function () {
				$(this).removeClass('active');
			})
			$(this).addClass('active');
 
			var target = this.hash;
			$target = $(target);
			$('html, body').stop().animate({
				'scrollTop': $target.offset().top+2
			}, 500, 'swing', function () {
				window.location.hash = target;
				$(document).on("scroll", onScroll);
			});
		});
	});
 
	function onScroll(event){
		var scrollPosition = $(document).scrollTop();
		$('#sub-nav nav a').each(function () {
			var currentLink = $(this);
			var refElement = $(currentLink.attr("href"));
			if (refElement.position().top <= scrollPosition && refElement.position().top + refElement.height() > scrollPosition) {
				$('#sub-nav nav ul li a').removeClass("active");
				currentLink.addClass("active");
			}
			else{
				currentLink.removeClass("active");
			}
		});
	}
</script>

<script type="text/javascript">
	
	$(window).scroll(function() {
    if ($(this).scrollTop()) {
        $('.top:hidden').stop(true, true).fadeIn();
    } else {
        $('.top').stop(true, true).fadeOut();
    }
});

</script>

<script type="text/javascript">
	$("a[rel*=leanModal]").leanModal();
</script>



