

	<div id="hero" class="padded center">
		<div class="wrapper push-top">
			<div class="row no-margin">
				<h2>
					<strong><%= @client.title %></strong><br/>
					<em><%= @client.headline %></em>
				</h2>
				<p><%= @client.intro %></p>
			</div>
		</div>
	</div>




<% if @client.services.present? %>
	<section id="help">
		<div class="wrapper">
			<div class="padded">
				<div class="row">
					<div class="c8 s2 center push-top-half">
						<h5>How we can help</h5>
						<p class="push-top-half"><%= @client.help_intro %></p>
					</div>
				</div>
				<div class="row" style="position: relative; overflow: visible">
					<% @client.services.each do |service|%>
						<div class="c3 service-box">
							<%= link_to client_service_path(@client, service), remote: true, class: "ajax", rel: "service" do %>
								<h4><%= service.name %></h4>
								<p><%= simple_format truncate(service.description, :length => 80) %></p>
							<% end %>
						</div>
					<% end %>
					<div id="service-detail">
					</div>
				</div>

			</div>
		</div>
	</section>
<% end %>

<% if @client.guides.present? or @client.questions.present? %>
	<section id="advice" class="light">
		<div class="wrapper">
		<div class="padded">
			<div class="row">
				<div class="c8">
					<h2>Expert advice &amp; information</h2>
					<p><%= @client.advice_intro %></p>

				</div>
			</div>
			<div class="row">
				<ul id="sheets">
					<% @client.guides.each do |guide| %>

						<li class="c3">
							<%= link_to client_guide_path(@client, guide) do %>
								<div class="panel">
									<h5>Help Sheet</h5>
									<h3><%= guide.title %></h3>
									<p class="faded small-copy"><%= guide.summary %></p>
								</div>
							<% end %>
							
						</li>
					<% end %>

					<% @client.questions.each do |question|%>
						<li class="c3">
							<%= link_to client_question_path(@client, question), remote: true, class: "ajax", rel: "advice" do %>
								<div class="panel">
									<h5>Common question</h5>
									<h3><%= question.question %></h3>
								</div>
							<% end %>
						</li>
					<% end %>
				</ul>
				
			</div>

			
		</div>
		</div>
	</section>
<% end %>

<section id="why">
	<div class="padded">
		<div class="row">
			<div class="c8">
				<h2>Why Marshall Havard</h2>
				<p><%= @client.advice_intro %></p>
			</div>
		</div>
	


		<% if logged_in? %>
			<div class="admin-tools center small-copy push-top faded">
				<p class="no-margin">Last updated: <%= time_ago_in_words @client.updated_at %> ago 
				| <%= link_to "Edit", edit_client_path(@client) %> 
				| <%= link_to "Delete", client_path(@client), method: :delete %></p>
			</div>
		<% end %>
	</div>
	
</section>


	<div id="contact-us" class="center">
		<h3>Talk to one of our experts today. Call us on 01234 567 890</h3>
	</div>


</div>




<script>
		$(function(){
			$("#sub-nav").sticky({topSpacing:0});
		});
</script>

<script>
	$(document).ready(function () {
		$(document).on("scroll", onScroll);
 
		$('a[href^="#"]').on('click', function (e) {
			e.preventDefault();
			$(document).off("scroll");
 
			$('a').each(function () {
				$(this).removeClass('active');
			})
			$(this).addClass('active');
 
			var target = this.hash;
			$target = $(target);
			$('html, body').stop().animate({
				'scrollTop': $target.offset().top+2
			}, 500, 'swing', function () {
				window.location.hash = target;
				$(document).on("scroll", onScroll);
			});
		});
	});
 
	function onScroll(event){
		var scrollPosition = $(document).scrollTop();
		$('#sub-nav nav a').each(function () {
			var currentLink = $(this);
			var refElement = $(currentLink.attr("href"));
			if (refElement.position().top <= scrollPosition && refElement.position().top + refElement.height() > scrollPosition) {
				$('#sub-nav nav ul li a').removeClass("active");
				currentLink.addClass("active");
			}
			else{
				currentLink.removeClass("active");
			}
		});
	}
</script>

<script>
	$(document).ready(function(){
		$(".ajax").colorbox({rel:'advice'});
	});
</script>
