


<section id="hero" class="dark half-padded">
	<div class="wrapper push-top-half">
		<div class="row">
			<div class="c12">
				<h2>
					<strong><%= @client.title %></strong>
					<p class="intro black"><em><%= @client.headline %></em></p>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="c8 med-c12">
				<p class="intro"><%= @client.intro %></p>
			</div>
			<!--
			<div class="c3 s1">
				<p class="small">Feel free to <%= link_to "contact us", '/contact' %> if you have any questions to speak to one of our experts</p>
			</div>
		-->
		</div>
	</div>
</section>

<div class="padded">
	<div class="wrapper">

 
		<% if @client.services.present? %>
		<div class="row">
			<div class="c12">

				<h4>How we can help</h4>
				<p><%= @client.help_intro %></p>

			</div>
		</div>
		<div class="row push-top-half">
			<% @client.services.each do |service|%>
				<div class="c3 med-c6 sml-c12">
					
						<h5><%= service.name %></h5>
						<p><%= truncate(service.description, :length => 100) %></p>

				</div>


			<% end %>
			
			<div class="c3 med-c6 sml-c12 faded">
					
				<h5>More services</h5>
				<p>See what else we are able to offer our clients. <%= link_to 'View all services', services_path %>.</p>
			</div>
		</div>
		<% end %>


		<% if @client.guides.present? or @client.questions.present? %>
		<div class="row push-top-half border-top">
			<div class="c12 push-top-half">
					<h4>Expert advice &amp; information</h4>
					<p><%= @client.advice_intro %></p>
			</div>
		</div>

		<div class="row">

					<ul id="sheets">
						<% @client.guides.each do |guide| %>

							<li class="c3 med-c6 sml-c12">
								<%= link_to client_guide_path(@client, guide) do %>
									<div class="panel">
										<h4><%= guide.title %></h4>
										<p class="faded"><%= guide.summary %></p>
									</div>
								<% end %>
								
							</li>
						<% end %>

						<% @client.questions.each do |question|%>
							<li class="c3">
								<%= link_to client_question_path(@client, question) do %>
									<div class="panel">
										<h4>Common question</h4>
										<p class="faded small-copy"><%= question.question %></p>
									</div>
								<% end %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>

			
			

		<% end %>
		</div>


		<div class="row">
			<div class="c12">

			<% if logged_in? %>
					<p class="small faded push-top-half">Last updated: <%= time_ago_in_words @client.updated_at %> ago 
							| <%= link_to "Edit", edit_client_path(@client) %> 
							| <%= link_to "Delete", client_path(@client), method: :delete %></p>
			<% end %>
			</div>
		</div>
	</div>
</div>


	<div id="contact-us" class="t-center">
		<h3><%= link_to "Talk to one of our experts today", '/contact' %></h3>
	</div>







<script>
		$(function(){
			$("#sub-nav").sticky({topSpacing:0});
		});
</script>

<script>
	$(document).ready(function () {
		$(document).on("scroll", onScroll);
 
		$('a[href^="#"]').on('click', function (e) {
			e.preventDefault();
			$(document).off("scroll");
 
			$('a').each(function () {
				$(this).removeClass('active');
			})
			$(this).addClass('active');
 
			var target = this.hash;
			$target = $(target);
			$('html, body').stop().animate({
				'scrollTop': $target.offset().top+2
			}, 500, 'swing', function () {
				window.location.hash = target;
				$(document).on("scroll", onScroll);
			});
		});
	});
 
	function onScroll(event){
		var scrollPosition = $(document).scrollTop();
		$('#sub-nav nav a').each(function () {
			var currentLink = $(this);
			var refElement = $(currentLink.attr("href"));
			if (refElement.position().top <= scrollPosition && refElement.position().top + refElement.height() > scrollPosition) {
				$('#sub-nav nav ul li a').removeClass("active");
				currentLink.addClass("active");
			}
			else{
				currentLink.removeClass("active");
			}
		});
	}
</script>

<script>
	$(document).ready(function(){
		$(".ajax").colorbox({rel:'advice'});
	});
</script>
