

<div id="hero" class="alt-padded" style="background-image: url('../assets/mh-hero.jpg');">
	<div class="wrapper">
		<div class="fake-row">
			<h1><%= @client.headline %></h1>
			<p><%= @client.intro %></p>
		</div>
	</div>
	<div id="sub-nav">
	<div class="wrapper">
		<nav class="fake-row">
			<ul>
				<li><a href="#help">Our services &amp; specialities</a></li>
				<li><a href="#advice">Helpsheets &amp; common questions</a></li>
				<li><a href="#why">Why we're right for you</a></li>
				<li class="top"><a href="#body">Back to top</a></li>
			</ul>
		</nav>
	</div>
</div>
</div>



<section id="help" class="padded">
	<div class="wrapper">
		<div class="row">
			<div class="c8">
				<h2>How we can help</h2>
				<p><%= @client.help_intro %></p>
			</div>
		</div>
		<div class="row">
			<% @client.services.each do |service|%>
				<div class="c2 service-box">
					<%= link_to service.name, service %>
				</div>
			<% end %>
		</div>
	</div>
</section>

<section id="advice" class="dark padded">
	<div class="wrapper">
		<div class="row">
			<div class="c8">
				<h2>Expert advice &amp; information</h2>
				<p><%= @client.advice_intro %></p>
			</div>
		</div>
		<div class="row">
			<div class="c6">
				<h3 class="faded">Help sheets</h2>
				<ul>
					<% @client.guides.each do |guide|%>
						<li>
							<%= link_to guide.title, client_guide_path(@client, guide) %><br />
							<em class="faded"><%= guide.summary %></em>
						</li>
					<% end %>
				</ul>
				<%# link_to "Read all #{@client.title} help sheets", client_guides_path(@client), class: "small" %>
			</div>
			<div class="c6">
				<h3 class="faded">Common questions</h2>				<ul>
					<% @client.questions.each do |question|%>
						<li><%= link_to question.question, client_question_path(@client, question) %></li>
					<% end %>
				</ul>
				<%# link_to "Read all #{@client.title} common questions", client_questions_path(@client), class: "small" %>
			</div>

		</div>
	</div>
</section>

<section id="why" class="padded">
	<div class="wrapper">
		<div class="row">
			<div class="c6">
				<h2>Why Marshall Havard</h2>
				<p><%= @client.advice_intro %></p>
			</div>
		</div>
	</div>
</section>

<div class="wrapper">
	<div class="row">
		<div class="c12 border-top">
			<% if logged_in? %>
				<p class="no-margin">Last updated: <%= time_ago_in_words @client.updated_at %> ago</p>
				<%= link_to "Edit", edit_client_path(@client), class: "button" %>
				<%= link_to "Delete", client_path(@client), method: :delete, class: "button" %>
			<% end %>
		</div>
	</div>
</div>


<script type="text/javascript">
	$('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
        || location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
           if (target.length) {
             $('html,body').animate({
                 scrollTop: target.offset().top
            }, 1000);
            return false;
        }
    }
});
</script>

<script>
		$(function(){
			$("#sub-nav").sticky({topSpacing:0});
		});
</script>

<script>
	$(document).ready(function () {
		$(document).on("scroll", onScroll);
 
		$('a[href^="#"]').on('click', function (e) {
			e.preventDefault();
			$(document).off("scroll");
 
			$('a').each(function () {
				$(this).removeClass('active');
			})
			$(this).addClass('active');
 
			var target = this.hash;
			$target = $(target);
			$('html, body').stop().animate({
				'scrollTop': $target.offset().top+2
			}, 500, 'swing', function () {
				window.location.hash = target;
				$(document).on("scroll", onScroll);
			});
		});
	});
 
	function onScroll(event){
		var scrollPosition = $(document).scrollTop();
		$('#sub-nav nav a').each(function () {
			var currentLink = $(this);
			var refElement = $(currentLink.attr("href"));
			if (refElement.position().top <= scrollPosition && refElement.position().top + refElement.height() > scrollPosition) {
				$('#sub-nav nav ul li a').removeClass("active");
				currentLink.addClass("active");
			}
			else{
				currentLink.removeClass("active");
			}
		});
	}
</script>

<script type="text/javascript">
	
	$(window).scroll(function() {
    if ($(this).scrollTop()) {
        $('.top:hidden').stop(true, true).fadeIn();
    } else {
        $('.top').stop(true, true).fadeOut();
    }
});

</script>

