

<section id="hero" class="dark half-padded">
	<div class="wrapper push-top-half">
		<div class="row">
			<div class="c6">
				<h2>Advice &amp; information</h2>
				<p>We know that finding the information you need can be hard, that's why we decided to write our own guides to help you get the information you need.</p>
			</div>
			</div>
		</div>
	</div>
</section>
 


	<section id="advice" class="padded">
		<div class="wrapper">


			<div class="row">
				<ul id="sheets">
					<% @guides.each do |guide|%>
						<li class="c3">
							<%= link_to guide_path(guide) do %>
								<div class="panel">
									<h6>Help Sheet</h6>
									<h4><%= guide.title %></h4>
									<p class="faded small-copy"><%= guide.summary %></p>
								</div>
							<% end %>					
						</li>
					<% end %>
					<% @questions.each do |question|%>
						<li class="c3">
							<%= link_to question_path(question), remote: true, class: "ajax", rel: "advice" do %>
								<div class="panel">
									<h5>Common question</h5>
									<h3><%= question.question %></h3>
								</div>
							<% end %>
						</li>
					<% end %>

				</ul>
			</div>
		
		</div>
	</section>




 
<script>
	$(document).ready(function(){
		$(".ajax").colorbox({rel:'advice'});
	});
</script>