

<section id="hero" class="dark half-padded">
	<div class="wrapper push-top-half">
		<div class="row">
			<div class="c6">
				<h2>Advice &amp; information</h2>
				<p>We know that finding the information you need can be hard – so we’ve prepared a selection of guides to help you. To browse the help sheets that are relevant to you, click on the category that best describes your situation.</p>
			</div>
			</div>
		</div>
	</div>
</section>
 


	<section id="advice" class="padded">
		<div class="wrapper">


			<div class="row">
				<ul id="sheets">
					<% @guides.each do |guide|%>
						<li class="c3">
							<%= link_to guide_path(guide) do %>
								<div class="panel">
									<h6>Help Sheet</h6>
									<h4><%= guide.title %></h4>
									<p class="faded small-copy"><%= guide.summary %></p>
								</div>
							<% end %>					
						</li>
					<% end %>
					<% @questions.each do |question|%>
						<li class="c3">
							<%= link_to question_path(question) do %>
								<div class="panel">
									<h6>Common question</h6>
									<h4><%= question.question %></h4>
								</div>
							<% end %>
						</li>
					<% end %>

				</ul>
			</div>
		
		</div>
	</section>




 
<script>
	$(document).ready(function(){
		$(".ajax").colorbox({rel:'advice'});
	});
</script>