

<div class="wrapper">


	<section id="advice" class="dark padded">
		<div class="row no-margin">
			<div class="c8">
				<h1>Advice &amp; information</h1>
				<p>We know that finding the information you need can be hard, that's why we decided to write our own guides to help you get the information you need. Here we have collected all of our guides and commonly asked questions here in one place. However, to browse the help sheets that are just relevant to you, select from one of the options below.</p>
			</div>
			<!--
			<div class="c3 s1 panel-alt">
				<p>Talk to one of our experts today to find out how we can help you save money.</p> 
				<p>Call us on 01234 567 890, or <a href="mailto:hello@marshallhavard.com">drop us an email</a></p>
			</div>
			-->
		</div>

		<div class="row no-margin">
			<div class="panel-alt">
				<ul class="inline">
					<% @clients.each do |client| %>
						<li><%= link_to "#{client.title}", client_path(client, anchor: "advice") %></li>
					<% end %>
				</ul>
			</div>
		</div>

			<div class="row">
				<ul id="sheets">
					<% @guides.each do |guide|%>
						<li class="c3">
							<%= link_to guide_path(guide), remote: true, class: "ajax", rel: "advice" do %>
								<div class="panel">
									<h5>Help Sheet</h5>
									<h3><%= guide.title %></h3>
									<p class="faded small-copy"><%= guide.summary %></p>
								</div>
							<% end %>					
						</li>
					<% end %>
					<% @questions.each do |question|%>
						<li class="c3">
							<%= link_to question_path(question), remote: true, class: "ajax", rel: "advice" do %>
								<div class="panel">
									<h5>Common question</h5>
									<h3><%= question.question %></h3>
								</div>
							<% end %>
						</li>
					<% end %>

				</ul>
			</div>
		
	</section>


</div>

 
<script>
	$(document).ready(function(){
		$(".ajax").colorbox({rel:'advice'});
	});
</script>