

<div id="big-menu-content">

	<div id="logo-medium">
				<%= link_to "Marshall Havard", root_path %>
			</div>
	<nav>
		<ul>
			<li><%= link_to "Who we can help", clients_path %></li>
			<li><%= link_to "Advice & information", '/advice' %></li>
			<li><%= link_to "Services", services_path %></li>
			<li><%= link_to "About Us", '/about' %></li>
			<li><%= link_to "Contact", '/contact' %></li>
		</ul>
	</nav>

</div>