
<% if logged_in? %>

<div class="wrapper">
	<div class="row push-top">
		<div class="c12">
			<h1>Hello. Here's a content summary of the site so far:</h1>
		</div>
	</div>
	<div class="row">

		<div class="c4">
			<div class="panel">
				<h3>Help sheets (<%= @guide.count %>)</h3>

				<ul>
				<% @guides.each do |guide| %>
					<li><%= guide.title %> <%= link_to "Edit", edit_guide_path(guide) %></li>
				<% end %>

				<%= link_to "Add a help sheet", new_guide_path, class: "button" %>
			</div>
		</div>

		<div class="c4">
			<div class="panel">
				<h3>Common questions (<%= @question.count %>)</h3>

				<% @questions.each do |question| %>
					<h4><%= link_to "#{question.question}", question_url(question) %></h4>
				<% end %>

				<%= link_to "Add a question", new_question_path, class: "button" %>
			</div>
		</div>

		<div class="c4">
			<div class="panel">
				<h3>Services (<%= @service.count %>)</h3>

				<% @services.each do |service| %>
					<h4><%= link_to "#{service.name}", service_url(service) %></h4>
				<% end %>

				<%= link_to "Add a service", new_service_path, class: "button" %>
			</div>
		</div>
	</div>
</div>

<% else %>

<div id="landing">
	<div id="wrap">
		<div id="main">
			<div id="logo-small">
				<%= link_to "Marshall Havard", root_path %>
			</div>
			<h1>
				Marshall Havard
				<span>Chartered Accountants</span>
			</h1>
			<p>From Spring 2015, Marshall Roche will be changing their name to Marshall Havard. The same team, offices and service remains; with a new name and a new look. Our new website is coming soon, but in the meantime, feel free to visit <a href="http://www.marshallroche.co.uk">marshallroche.co.uk</a>.</p>			
		</div>
	</div>
	<div id="footer">
		<%= link_to "Log in", new_session_path %>
	</div>
</div>

<% end %>