
<% if logged_in? %>




<div id="hero" class="home">
	<header id="header" class="home">
		<div class="wrapper">
			<div class="row">
				<div class="c12">
					<div id="logo">
						<%= link_to "Marshall Havard", root_path %>
					</div>
					<nav class="nav-collapse">
						<ul>
							<li><%= link_to_active_class "Who we can help", "selected", clients_path %></li>
							<li><%= link_to_active_class "Advice & information", "selected", '/advice' %></li>
							<li><%= link_to_active_class "Services", "selected", services_path %></li>
							<li><%# link_to_active_class "More", "selected", '/big_menu', class: "big-menu" %></li>
							<li><%= link_to_active_class "About us", "selected", '/about-us' %></li>
							<li><%= link_to_active_class "Contact", "selected", '/contact', 'data-no-turbolink' => true %></li>
						</ul>
					</nav>
					<script>
			      		var navigation = responsiveNav(".nav-collapse");
			    	</script>
				</div>
			</div>
		</div>
	</header>
	<div class="wrapper">

		<div class="fake-row">
			<h1>Your local accountant</h1>
			<p>Accountancy services for small businesses, contractors and individuals.</p>
			<p class="caption">Greg and Sarah at the Bluebird Cafe, Lee-on-the-Solent</p>
		</div>
	</div>
</div>

<div id="client-logos">
	<div class="wrapper">
	</div>
</div>

<div id="features" class="push-top">
	<div class="wrapper">
		<div class="row push-top first">
			<div class="c6 image">
			</div>
			<div class="c6">
				<h2>Who are Marshall Havard?</h2>
				<p>We have been dealing with company and personal accounts in Hampshire for a quarter of a century. We now help people all over the country with everything from end of year tax returns to business advice.</p>
				<%= link_to "Find out more about us", '/about-us' %>
			</div>
		</div>
		<div class="row push-top second">
			<div class="c6">
				<h2>Who we can help and how</h2>
				<p>With over 25 years experience of helping contractors and small businesses, Marshall Havard is your best option. We provide a wide range of services, and are happy to work in a way that suits you.</p>
				<%= link_to "See how we can help you", clients_path %>
			</div>
			<div class="c6 image">
			</div>
		</div>
		<div class="row push-top third">
			<div class="c6 image">
			</div>
			<div class="c6">
				<h2>Online advice &amp; guidance</h2>
				<p>We have created an online resource to help you find the answers you're after. Find the information that is relevant to you. If you need any other assistance, we are just a phone call away.</p>
				<%= link_to "Discover the answers you're after", '/advice' %>
			</div>
		</div>
	</div>
</div>

<div id="contact-us">
	<div class="wrapper center">
		<h3>Talk to one of our experts today. Call us on 01234 567 890</h3>
	</div>
</div>



<% else %>

<div id="landing">
	<div id="wrap">
		<div id="main">
			<div id="logo-small">
				<%= link_to "Marshall Havard", root_path %>
			</div>
			<h1>
				Marshall Havard
				<span>Chartered Accountants</span>
			</h1>
			<p>From Spring 2015, Marshall Roche will be changing their name to Marshall Havard. The same team, offices and service remains; with a new name and a new look. Our new website is coming soon, but in the meantime, feel free to visit <a href="http://www.marshallroche.co.uk">marshallroche.co.uk</a>.</p>			
		</div>
	</div>
	<div id="footer">
		<%= link_to "Log in", new_session_path %>
	</div>
</div>

<% end %>

<script type="text/javascript">
$('.expander').simpleexpand();
</script>