<%= content_for :dark, 'alt' %>

	<div class="wrapper">
		<div class="row push-top small" style="line-height: 2;">

			<div class="c3">
				<div class="panel">
					<h4>Clients (<%= @client.count %>)</h4>

					<ul>
					<% @clients.each do |client| %>
						<li><%= link_to "#{client.title}", client_path(client) %></li>
					<% end %>
					</ul>

					<p class="push-top-quart"><%= link_to "Add a client type", new_client_path, class: "button" %></p>
				</div>
			</div>

			<div class="c3">
				<div class="panel">
					<h4>Help sheets (<%= @guide.count %>)</h4>

					<ul>
					<% @guides.each do |guide| %>
						<li><%= link_to "#{guide.title}", guide_path(guide) %></li>
					<% end %>
					</ul>

					<p class="push-top-quart"><%= link_to "Add a help sheet", new_guide_path, class: "button" %></p>
				</div>
			</div>

			<div class="c3">
				<div class="panel">
					<h4>Questions (<%= @question.count %>)</h4>
					<ul>
					<% @questions.each do |question| %>
						<li><%= link_to "#{question.question}", question_url(question) %></li>
					<% end %>
					</ul>
					<p class="push-top-quart"><%= link_to "Add a question", new_question_path, class: "button" %></p>
				</div>
			</div>

			<div class="c3">
				<div class="panel">
					<h4>Services (<%= @service.count %>)</h4>
					<ul>
					<% @services.each do |service| %>
						<li><%= link_to "#{service.name}", service_url(service) %></li>
					<% end %>
					</ul>
					<p class="push-top-quart"><%= link_to "Add a service", new_service_path, class: "button" %></p>
				</div>
			</div>
		</div>
	</div>
