<div class="wrapper">

	<div class="row">
		<div class="c8 s2">
			<h1>Edit this help sheet</h1>

			<%= simple_form_for(@guide, :defaults => { :input_html => { :class => "tinymce" } }) do |f| %>
				<%= f.input :title %>
				<%= f.input :body %>
				<%= f.input :summary %>
				<% Client.all.each do |client| %>
				  <%= check_box_tag "guide[client_ids][]", client.id, @guide.client_ids.include?(client.id), id: dom_id(client) %>
				  <%= label_tag dom_id(client), client.title %><br>
				<% end %>
				<%= f.submit %>
			<% end %>
		</div>
	</div>
</div>

<%= tinymce %>