<div class="wrapper">
	
	<div class="row">
		<div class="c8">
			<h1><%= @guide.title %></h1>
			<p><%= @guide.body.html_safe %></p>
			<%= link_to "Edit", edit_guide_path(@guide) %>
			<%= link_to "Delete", guide_path(@guide), method: :delete %>

			<ul>
				<li>
					<% @guide.clients.each do |client|%>
					    <%= link_to client.title, client %>
					<% end %>
				</li>
			</ul>
		</div>

		<div class="c4">
			<h2>Help sheets</h2>
			
			<% @guides.each do |guide| %>
				<h1><%= link_to "#{guide.title}", guide_path(guide) %></h1>
			<% end %>

		</div>

	</div>

</div>