<div class="wrapper">
	
	<div class="row push-top">
		<div class="c8">
			
			<%# if @client.present? %>
				<p class="no-margin small-copy"><%= link_to @client.title, client_path(@client) %> / <%= link_to "Advice & Information", client_guides_path %></p>
			<%# end %>
			<h1><%= @guide.title %></h1>
			<p><%= @guide.body.html_safe %></p>

			<%# if @client.present? %>
				<h3>Relevant to:</h3>
				<ul>
					<li>
						<% @guide.clients.each do |client|%>
						    <%= link_to client.title, client %>
						<% end %>
					</li>
				</ul>
			<%# end %>

		</div>
		<div class="c3 s1">

			<div class="share">
				<h4>Share this help sheet</h4>
				<a class="twitter-share-button" href="https://twitter.com/share"
				  data-related="twitterdev"
				  data-size="large"
				  data-count="none">
				Tweet
				</a>
			</div>
			
			<%# if client_present? %>
				<nav class="related">
					<ul>
						<% @client.guides.each do |guide|%>
							<li><%= link_to_active_class guide.title, "selected", client_guide_path(@client, guide) %></li>
						<% end %>
					</ul>
				</nav>
			<%# end %>

		</div>

	</div>

	<div class="row">
		<div class="c12 border-top">
			<% if logged_in? %>
				<p class="no-margin">Last updated: <%= time_ago_in_words @guide.updated_at %> ago</p>
				<%= link_to "Edit", edit_guide_path(@guide), class: "button" %>
				<%= link_to "Delete", guide_path(@guide), method: :delete, class: "button" %>
			<% end %>
		</div>
	</div>

</div>


<script>
	window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>