<div class="wrapper">
	
	<div class="row push-top">
		<div class="c8">
			<h1><%= @guide.title %></h1>
			<p><%= @guide.body.html_safe %></p>

			<p>Relevant to:</p>
			<ul>
				<li>
					<% @guide.clients.each do |client|%>
					    <%= link_to client.title, client %>
					<% end %>
				</li>
			</ul>

			<%= link_to "Edit", edit_guide_path(@guide), class: "button" %>
			<%= link_to "Delete", guide_path(@guide), method: :delete, class: "button" %>


		</div>


	</div>

</div>