<!DOCTYPE html>
<html>
<head>
  <title>Marshall Havard | Chartered Accountants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//use.typekit.net/mkd2fyg.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>


<% if logged_in? %>

<% flash.each do |key, value| %>
	<div class="<%= key %>">
		<div class="wrapper">
			<p><%= value %></p>
		</div>
	</div>
<% end %>

<header>
	<div class="wrapper">
		<div class="row">
			<div class="c12">
				<div id="logo">
					<%= link_to "Marshall Havard", root_path %>
				</div>
				<nav class="nav-collapse">
					<ul>
						<li><%= link_to_active_class "Who we can help", "selected", clients_path %></li>
						<li><%= link_to_active_class "Advice & information", "selected", '/advice' %></li>
						<li><%= link_to_active_class "Services", "selected", services_path %></li>
						<li><%= link_to_active_class "More", "selected", '/big_menu', class: "big-menu" %>
					</ul>
				</nav>
				<script>
		      		var navigation = responsiveNav(".nav-collapse");
		    	</script>
			</div>
		</div>
	</div>
</header>


<div id="content">
	<%= yield %>
</div>


<footer>
	<div class="wrapper">
		<div class="row">
			<div class="c12">

				<nav>
					<ul>
						<li><%= link_to_active_class "Help Sheets", "selected", guides_path %></li>
						<li><%= link_to_active_class "Common Questions", "selected", questions_path %></li>
						<li><%= link_to_active_class "Services", "selected", services_path %></li>
						<li><%= link_to "Users", new_user_path %></li>
						<li><%= link_to "Log out", session_path, method: :delete %></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</footer>

<% else %>

<%= yield %>

<% end %>


</body>
</html>

<script type="text/javascript">
  $(document).ready(function () {
    $('.big-menu').magnificPopup({
      type: 'ajax',
      alignTop: true,
      overflowY: 'hidden', // as we know that popup content is tall we set scroll overflow by default to avoid jump,
      removalDelay: 300,
      mainClass: 'mfp-fade'
    });

    $(document).on('click', '.popup-modal-dismiss', function (e) {
      e.preventDefault();
      $.magnificPopup.close();
    });
  });
</script>
