<!DOCTYPE html>
<html>
<head>
  <title>Marshall Havard | Chartered Accountants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//use.typekit.net/mkd2fyg.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

<% flash.each do |key, value| %>
	<div class="<%= key %>">
		<div class="wrapper">
			<p><%= value %></p>
		</div>
	</div>
<% end %>

<header>
	<div class="wrapper">
		<div class="row">
			<div class="c12">
				<div id="logo">
					<%= link_to "Marshall Havard", root_path %>
				</div>
		 	  	<div id="twitter">
					<a href="https://twitter.com/marshallroche" target="_blank">Twitter</a>
				</div>
				<nav class="nav-collapse">
					<ul>
						<li><%= link_to_active_class "Who we can help", "selected", clients_path %></li>
						<li><%= link_to_active_class "Advice & information", "selected", guides_path %></li>
						<li><%= link_to_active_class "Services", "selected", services_path %></li>
					</ul>
				</nav>
				<script>
		      		var navigation = responsiveNav(".nav-collapse");
		    	</script>
			</div>
		</div>
	</div>
</header>


<div id="content">
	<%= yield %>
</div>


<footer>
	<div class="wrapper">
		<div class="row">
			<div class="c12">

				<nav>
					<ul>
						<li><%= link_to_active_class "Help Sheets", "selected", guides_path %></li>
						<li><%= link_to_active_class "Common Questions", "selected", questions_path %></li>
						<li><%= link_to_active_class "Services", "selected", services_path %></li>
						<% if logged_in? %>
							<li><%= link_to "Add a user", new_user_path %></li>
							<li><%= link_to "Log out", session_path, method: :delete %></li>
						<% else %>
							<li><%= link_to "Log in", new_session_path %></li>
						<% end %>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</header>

</body>
</html>
